:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0px;
}
li {
  list-style-type: none;
}
.search-container {
  position: relative;
}

#suggestions-1,
#suggestions-2 {
  display: none;
  position: absolute;
  top: 40px;
  width: 94%;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
}

ul {
  padding: 3%;
}
#suggestions-1 li,
#suggestions-2 li {
  cursor: pointer;
  margin-bottom: 1rem;
}

#suggestions-1 li:hover,
#suggestions-2 li:hover {
  background-color: #eee;
}
